In [2]:
"Hello World"
'Python is fun' 
"""Life is too short, Yoo need python"""
'''Life is too short, you need python'''

'Life is too short, you need python'

Python's favorite food is perl

In [3]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [4]:
food = 'Python's favorite fodd is perl'

SyntaxError: unterminated string literal (detected at line 1) (3679402115.py, line 1)

In [5]:
"Python is very easy." he says

SyntaxError: invalid syntax (4003609714.py, line 1)

In [8]:
say = '"Python is very easy." he says. ' 
say

'"Python is very easy." he says. '

In [9]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy. \" he says"
print(food)
print(say)

Python's favorite food is perl
"Python is very easy. " he says

## 여러 줄인 문자열을 변수에 대입하고 싶을 때
Life is too short

Yoo need python

In [26]:
multiline = 'Life is too short\nYoo need Python'
print(multiline)

Life is too short
Yoo need Python

In [23]:
multiline = """
Life is too short 
You need python
"""
print(multiline)

Life is too short
You need python

In [27]:
a = "python"
a * 2

'pythonpython'

In [28]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [29]:
# 문자열 길이 구하기 
a = "Life is too short"
len(a)

17

In [30]:
a[3]

'e'

In [31]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

L
i
f
e

In [32]:
a[0:4]

'Life'

In [36]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[-10:]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [38]:
"I eat %d applies." %3

'I eat 3 applies.'

In [39]:
"I eat %s applies." % "five"

'I eat five applies.'

In [40]:
number = 3
"I eat %s applies" % number

'I eat 3 applies'

In [41]:
number = 10
day = "three" 
"I ate %d applies. so I was sick for %s days." % (number, day)

'I ate 10 applies. so I was sick for three days.'

In [42]:
"I have %s apples" % 3

'I have 3 apples'

In [43]:
"rate is %s" % 3.234

'rate is 3.234'

In [45]:
"Error is %d%%" % 98

'Error is 98%'

In [48]:
"%4s" % "hi"

'  hi'

In [51]:
"%-3sJane" % "hi"

'hi Jane'

In [53]:
"%0.3f" % 3.141212

'3.141'

In [54]:
"I eat {0} apples.".format(3)

'I eat 3 apples.'

In [55]:
"I eat {1} apples.".format(1)

IndexError: Replacement index 1 out of range for positional args tuple

In [56]:
"I eat {0} apples.".format("five")

'I eat five apples.'

In [57]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

In [58]:
number = 10
day = "three" 
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [59]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [60]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [61]:
"{0:<10}".format("hi")

'hi        '

In [62]:
"{0:>10}".format("hi")

'        hi'

In [63]:
"{0:^10}".format("hi")

'    hi    '

In [64]:
"{0:=^10}".format("hi")

'====hi===='

In [71]:
day=1
"{day:!^10}".format(day)

KeyError: 'day'

In [72]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [76]:
y=3.42134234
"{0:>20}".format(y)

'          3.42134234'

In [78]:
"{0:7.4f}".format(y)

' 3.4213'

In [79]:
"{{ and }}".format()

'{ and }'

In [80]:
"{{or}}".format()

'{or}'

In [81]:
name = "홍길동"
age = 30 
f"나의 이름은 {name}입니다. 나이는 {age}"

'나의 이름은 홍길동입니다. 나이는 30'

In [82]:
age = 30 
f"나는 내년이면 {age + 1}살이 됩니다"

'나는 내년이면 31살이 됩니다'

In [84]:
d = {"name": "홍길동", "age": 30}
f"나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다"

'나의 이름은 홍길동입니다. 나이는 30입니다'

In [85]:
f"{"hi":<10}"

'hi        '

In [87]:
f"{"hi":<20}"

'hi                  '

In [90]:
f"안녕하세요 저는{"조현일":^10}입니다"

'안녕하세요 저는   조현일    입니다'

In [94]:
f"{"hi":=>10}"

'========hi'

In [93]:
f"{"hi":=^10}"

'====hi===='

In [95]:
y = 3.412341234
f"{y:0.4f}"

'3.4123'

In [96]:
f"{y:10.4f}"

'    3.4123'

In [98]:
f"{y:<10.4f}"

'3.4123    '

In [101]:
f"{"python":!^12}"

'!!!python!!!'

## 문자열 내장함수
- 문자열 자료형은 자체적으로 함수를 가지고 있다.

In [103]:
a = "hooby"
a.count("o")

2

In [104]:
len(a)

5

In [105]:
a = "Python is the best choice"
a.find("b")

14

In [106]:
a.find("k")

-1

In [107]:
a = "Life is too short" 
a.index("t")

8

In [108]:
a.index("k")

ValueError: substring not found

In [109]:
# 문자열 삽입 - join
",".join("abce")

'a,b,c,e'

In [110]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [111]:
a = "hi" 
a.upper()

'HI'

In [112]:
a = "HI" 
a.lower()

'hi'

In [113]:
a = "    hi    "   
a.lstrip()

'hi    '

In [114]:
a

'    hi    '

In [115]:
a.trim()

AttributeError: 'str' object has no attribute 'trim'

In [116]:
a.rstrip()

'    hi'

In [117]:
a.strip()

'hi'

In [118]:
a = "Life is too short" 
a.replace("Life", "Your leg")

'Your leg is too short'

In [119]:
a = "Life is too short" 
a.split()

['Life', 'is', 'too', 'short']

In [120]:
b = "a:b:c:d" 
b.split()

['a:b:c:d']

In [121]:
b.split(":")

['a', 'b', 'c', 'd']

### 착각하기 쉬운 문자열 함수

In [10]:
string= "python" 
string[0: -1]

'pytho'